.loginPopUp{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.loginPopUpContainer{
    place-self: center;
    width: max(23vw, 230px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

h2{
    color: black;
}

.loginPopUpTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img{
    cursor: pointer;
    width: 16px;
}

.loginPopUpInput{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginPopUpInput input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.loginPopUpInput button{
    border: none;
    padding: 10px;
    border-radius:4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}

.loginPopUpCondition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin: -15px;
}

.loginPopUpCondition input{
    margin-top: 5px;
}

.loginPopUp p span{
    color: tomato;
    font-weight:  500;
    cursor: pointer;
}